.popover-header {
  border-bottom: 3px solid #1e82fd;
}

.popover-section-item {
  background-color: transparent;
  color: #1e82fd;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.popover-section-item:hover,
.popover-section-item:focus {
  text-decoration: none;
}

.popover-desc {
  margin-bottom: 10px;
}

.popover-section-title {
  font-weight: bold;
}

.help-icon {
  color: #d3d3d3;
  height: 1em;
  cursor: pointer;
}

.help-icon:hover {
  color: #3c8dbc;
}

.help-icon-disabled {
  color: #d3d3d3;
  height: 1em;
  opacity: 0.6;
}

.help-icon-hidden {
  height: 1em;
  opacity: 0.0;
}

.help-icon-error {
  color: #d21e1e;
  height: 1em;
  cursor: pointer;
}

.help-container {
  padding-left: 5px;
  vertical-align: text-top;
}
