# dependencies
/node_modules

# System Files
.DS_Store
Thumbs.db

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# compiled output
/dist
/build
/.yarn-cache

# misc
/*.log
